[contest]
name=Some generic rules
begindate=20000101
enddate=20240101
beginhour=1200
endhour=1159
bands=4
periods=1
categories=1
modes=1,2,6

[log]
format=edi

[band1]
band=80m
regexp=3\d\d\d
multiplier=1

[band2]
band=40m
regexp=7\d\d\d
multiplier=1

[band3]
band=20m
regexp=14\d\d\d
multiplier=1

[band4]
band=15m
regexp=21\d\d\d
multiplier=1

[period1]
begindate=20000101
enddate=20240101
beginhour=1200
endhour=1159
bands=band1,band2,band3,band4

[category1]
name=Single Operator
regexp=SINGLE-OP
bands=band1,band2,band3,band4

[extra]
callregexp=yo