[contest]
name=Dracula
begindate=20261031
enddate=20261101
beginhour=1200
endhour=1159
bands=5
periods=1
categories=7
modes=CW,SSB
custom_scoring=DRACULA

[log]
format=cabrillo

[band1]
band=3.5
regexp=3\\.?|80m
multiplier=1

[band2]
band=7
regexp=7\\.?|40m
multiplier=1

[band3]
band=14
regexp=14\\.?|20m
multiplier=1

[band4]
band=21
regexp=21\\.?|15m
multiplier=1

[band5]
band=28
regexp=28\\.?|10m
multiplier=1

[period1]
begindate=20261031
enddate=20261101
beginhour=1200
endhour=1159
bands=band1,band2,band3,band4,band5

[category1]
name=SO-AB-HP SSB
regexp=A1
bands=band1,band2,band3,band4,band5

[category2]
name=SO-AB-HP CW
regexp=A2
bands=band1,band2,band3,band4,band5

[category3]
name=SO-AB-HP MIXT
regexp=A3
bands=band1,band2,band3,band4,band5

[category4]
name=SO-AB-LP SSB
regexp=B1
bands=band1,band2,band3,band4,band5

[category5]
name=SO-AB-LP CW
regexp=B2
bands=band1,band2,band3,band4,band5

[category6]
name=SO-AB-LP MIXT
regexp=B3
bands=band1,band2,band3,band4,band5

[category7]
name=MO-AB-HP MIXT
regexp=C
bands=band1,band2,band3,band4,band5

[scoring]
special_callsign=YP2DRACULA,YR2DRACULA,YQ2DRACULA,YP5DRACULA,YR5DRACULA,YQ5DRACULA,YP6DRACULA,YR6DRACULA,YQ6DRACULA
non_yo_to_special_points=10
non_yo_to_yo_points=5
non_yo_dxcc_points=2
non_yo_same_country_points=1
yo_to_special_points=10
yo_to_nonyo_points=5
yo_to_yo_points=0
multiplier_enabled=true
multiplier_per_band=true
