[contest]
name=HF Test Contest
begindate=20240101
enddate=20240131
beginhour=0000
endhour=2359
bands=10
periods=1
categories=2
modes=CW,SSB,DIGI

[log]
format=cabrillo

[band1]
band=1.8
regexp=1\\.?8|160m
multiplier=1

[band2]
band=3.5
regexp=3\\.?5|80m
multiplier=1

[band3]
band=7
regexp=7|40m
multiplier=1

[band4]
band=10
regexp=10|30m
multiplier=1

[band5]
band=14
regexp=14|20m
multiplier=1

[band6]
band=18
regexp=18|17m
multiplier=1

[band7]
band=21
regexp=21|15m
multiplier=1

[band8]
band=24
regexp=24|12m
multiplier=1

[band9]
band=28
regexp=28|10m
multiplier=1

[band10]
band=50
regexp=50|6m
multiplier=1

[period1]
begindate=20240101
enddate=20240131
beginhour=0000
endhour=2359
bands=band1,band2,band3,band4,band5,band6,band7,band8,band9,band10

[category1]
name=Single Op All Band
regexp=so|single|checklog
bands=band1,band2,band3,band4,band5,band6,band7,band8,band9,band10

[category2]
name=Multi Op All Band
regexp=mo|multi
bands=band1,band2,band3,band4,band5,band6,band7,band8,band9,band10
