[contest]
name=Cupa Napoca 2016
begindate=20160507
enddate=20160508
beginhour=1200
endhour=1159
bands=2
periods=1
categories=3
modes=1,2,6

[log]
format=edi

[band1]
band=144
regexp=144|145|2m
multiplier=1

[band2]
band=432
regexp=430|432|70cm
multiplier=1

[period1]
begindate=20160507
enddate=20160508
beginhour=1200
endhour=1159
bands=band1,band2

[category1]
name=Single Operator 144
regexp=so|single
bands=band1

[category2]
name=Single Operator 432
regexp=so|single
bands=band2

[category3]
name=Single Operator Multi Band
regexp=somb
bands=band1,band2

[category4]
name=Multi Operator
regexp=mo|multi
bands=band1,band2

